<section class="container-fluid">

  <div class="container py-5">
    <div class="card">
      <div class="card-header text-center bg-warning">
        <h2 class="card-title">Términos de Servicio</h2>
        <h5 class="card-title">Última actualización: 04/2025</h5>
      </div>

      <div class="card-body">
        <p>Bienvenido a LabAdmin. Al acceder y utilizar nuestra plataforma, usted acepta cumplir
          con estos Términos de Servicio. Si no está de acuerdo con alguna de las disposiciones, le recomendamos que no
          utilice nuestros
          servicios.
        </p>

        <p class="card-text">

        <p>1. Uso de la Plataforma

          LabAdmin está diseñado para la administración de laboratorios universitarios. Los usuarios deben:

          Usar la plataforma únicamente para fines académicos y administrativos.

          No realizar actividades fraudulentas o ilegales dentro de la plataforma.

          Mantener la confidencialidad de sus credenciales de acceso.</p>

        <p>2. Registro y Acceso

          Para utilizar LabAdmin, es posible que deba crear una cuenta. Usted es responsable de:

          Proveer información veraz y actualizada.

          Proteger su cuenta contra accesos no autorizados.</p>

        <p>3. Privacidad y Seguridad

          El uso de LabAdmin está sujeto a nuestra Política de Privacidad, donde explicamos cómo protegemos su
          información personal y garantizamos la seguridad de sus datos.</p>

        <p>4. Restricciones de Uso

          Queda prohibido:

          Manipular o alterar la plataforma sin autorización.

          Compartir credenciales de acceso con terceros.

          Realizar cualquier actividad que interfiera con la operación de LabAdmin.</p>

        <p>5. Modificaciones y Terminación del Servicio

          Nos reservamos el derecho de:

          Modificar estos términos en cualquier momento.

          Suspender o cancelar su cuenta si incumple con estos términos.

          Realizar mejoras o cambios en la plataforma sin previo aviso.</p>

        <p>6. Limitación de Responsabilidad

          LabAdmin no se hace responsable por:

          Errores o fallos técnicos ajenos a nuestro control.

          Uso indebido de la plataforma por parte del usuario.

          Daños o perjuicios derivados del uso de LabAdmin.</p>

      </div>
    </div>
  </div>


</section>