<footer class="container-fluid p-2 shadow" style="background-color: orange;">
    <div class="container-lg text-center">
        <nav>
            <p class="mb-3 text-light">&copy; 2025 LabAdmin</p>
            <ul class="list-unstyled d-flex justify-content-center gap-4 mb-0">
                <li><a class="text-light" routerLink="/privacy">Política de Privacidad</a></li>
                <li><a class="text-light" routerLink="/terms">Términos del Servicio</a></li>
                <li><a class="text-light" routerLink="/faq">FAQ</a></li>
                <li><a class="text-light" routerLink="/contact">Contacto</a></li>
                <li><a class="text-light" routerLink="/inventaryregister">Registro de Inventario</a></li>
            </ul>
        </nav>
    </div>
</footer>
