<header>
    <nav class="navbar navbar-expand-md navbar-dark shadow" style="background-color: orange;">
        <div class="container-lg">
            <a class="navbar-brand d-flex align-items-center" routerLink="/home">
                <img src="/images/icon.png" alt="logo" height="45"
                    style="background-color: white; border-radius: 50%; margin-right: 10px;">
                LabAdmin
            </a>
            <button type="button" class="navbar-toggler" data-bs-toggle="offcanvas" data-bs-target="#offcanvas"
                aria-controls="offcanvas">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarCollapse">
                <ng-container *ngTemplateOutlet="navLinks"></ng-container>
            </div>
        </div>
    </nav>
</header>

<div class="offcanvas offcanvas-end" style="background-color: orange;" tabindex="-1" id="offcanvas"
    aria-labelledby="offcanvasLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasLabel">Menú</h5>
        <button type="button" class="btn btn-light ms-auto" data-bs-dismiss="offcanvas" aria-label="Close"><i
                class="bi bi-x-lg"></i></button>
    </div>
    <div class="offcanvas-body">
        <ng-container *ngTemplateOutlet="navLinks"></ng-container>
    </div>
</div>

<ng-template #navLinks>
    @if (isLoggedIn) {
    <ul class="navbar-nav ms-auto">
        <li class="nav-item">
            <a routerLink="home" routerLinkActive="active text-decoration-underline" class="nav-link">Inicio</a>
        </li>
        <li class="nav-item">
            <a routerLink="labs" routerLinkActive="active text-decoration-underline" class="nav-link">Labs</a>
        </li>
        <li class="nav-item">
            <a routerLink="chatbot" routerLinkActive="active text-decoration-underline" class="nav-link">Chatbot</a>
        </li>
        <li class="nav-item">
            <a routerLink="account" routerLinkActive="active text-decoration-underline" class="nav-link">Cuenta</a>
        </li>
    </ul>
    }
</ng-template>