<section
  class="container-fluid d-flex align-items-center bg-warning-subtle"
  
>
  <div class="container-lg py-3" style="text-align: justify; color: white">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-8 col-10">
        <h2>¡Bienvenido al mundo del arte!</h2>
        <p>
          Si tienes alguna pregunta sobre nuestras obras de arte en venta o
          necesitas más detalles, estamos aquí para ayudarte. Completa el
          formulario y nuestro equipo se pondrá en contacto contigo para
          ofrecerte la mejor atención. ¡Adquiere piezas únicas y llenas de
          historia con nosotros!
        </p>
      </div>
    </div>
  </div>
</section>

<section class="container-fluid">
  <div class="container-lg d-flex flex-column gap-5 py-5">
    <div class="row">
      <div class="col-md-6">
        <img
          src="/images/logos/logoNoBgIris.png"
          alt="Logo"
          width="580"
          height="550"
        />
      </div>
      <div
        class="col-md-4 border border-3 rounded-3 p-3"
        style="background-color: black; color: white"
      >
        <div class="mb-3">
          <label for="namec" class="form-label">Nombre</label>
          <input
            type="text"
            class="form-control"
            id="namec"
            placeholder="Ingresa tu nombre completo"
          />
        </div>

        <div class="mb-3">
          <label for="emailc" class="form-label">Correo electrónico</label>
          <input
            type="email"
            class="form-control"
            id="emailc"
            placeholder="name@example.com"
          />
        </div>
        <div class="mb-3">
          <label for="affairc" class="form-label">Asunto</label>
          <input
            type="text"
            class="form-control"
            id="affairc"
            placeholder="Ingresa el asunto"
          />
        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label"
            >Mensaje</label
          >
          <textarea
            class="form-control"
            id="exampleFormControlTextarea1"
            rows="6"
          ></textarea>
        </div>

        <button type="submit" class="btn btn-outline-light w-100">
          Enviar
        </button>
      </div>
    </div>
  </div>
</section>
