<section class="container-fluid">

    @if (isLoading) {
    <ng-container *ngTemplateOutlet="loading"></ng-container>
    } @else{
    <ng-container *ngTemplateOutlet="ready"></ng-container>
    }

</section>

<ng-template #ready>
    <!--ACCOUNT TYPE BANNER-->
    @if (isAdmin){
    <div class="container-lg mt-1">
        @if (!isOwner) {
        <div class="alert alert-warning text-center" role="alert">
            Su cuenta de administrador no tiene permisos para gestionar este laboratorio.
            Solo puede visualizar la información disponible.
        </div>
        } @else {
        <div class="alert alert-success text-center" role="alert">
            Usted tiene permisos completos para administrar este laboratorio.
        </div>
        }
    </div>
    }

    <!--LAB ADMIN OPTIONS-->
    @if (isOwner) {
    <div class="container-lg my-1">
        <div class="d-flex justify-content-center gap-3">
            <button class="btn btn-warning"><i class="bi bi-info"></i></button>
            <button class="btn btn-warning"data-bs-toggle="modal" data-bs-target="#updateLabModal" ><i class="bi bi-gear"></i></button>
            <button class="btn btn-danger" ><i class="bi bi-trash"></i></button>
        </div>
    </div>
    }

    <!--LAB INFORMATION CARD-->
    <div class="container-lg">
        <div class="card shadow">
            <div class="card-header bg-warning border-0">
                <div class="text-center">
                    <h5 class="text-capitalize text-dark fw-bold">{{lab?.name}}</h5>
                </div>
            </div>
            <div class="card-body">
                <div class="row g-3">
                    <!-- Imagen -->
                    <div class="col-12 col-md-5 d-flex align-items-center">
                        <div class="bg-warning-subtle d-flex justify-content-center align-items-center overflow-hidden rounded"
                            style="max-height: 300px;">
                            @if (lab?.lab_image) {
                            <img [src]="'data:image/jpeg;base64,' + lab?.lab_image" class="img-fluid rounded"
                                alt="{{lab?.lab_image}}">
                            } @else {
                            <img src="/images/icon.png" class="img-fluid rounded" alt="Imagen de laboratorio">
                            }
                        </div>
                    </div>
                    <!-- Información en tabla -->
                    <div class="col-12 col-md-7">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover align-middle mb-0">
                                <tbody>
                                    <tr>
                                        <th class="bg-warning text-dark px-2 w-25"><i class="bi bi-bank me-1"></i>
                                            Institución:</th>
                                        <td class="text-capitalize">{{lab?.institution}}</td>
                                    </tr>
                                    <tr>
                                        <th class="bg-warning text-dark px-2"><i class="bi bi-buildings me-1"></i>
                                            Campus:</th>
                                        <td class="text-capitalize">{{lab?.campus}}</td>
                                    </tr>
                                    <tr>
                                        <th class="bg-warning text-dark px-2"><i class="bi bi-lightbulb me-1"></i>
                                            Especialidad:</th>
                                        <td class="text-capitalize">{{lab?.specialization}}</td>
                                    </tr>
                                    <tr>
                                        <th class="bg-warning text-dark px-2"><i class="bi bi-geo-alt me-1"></i>
                                            Ubicación:</th>
                                        <td class="text-capitalize">{{lab?.location}}</td>
                                    </tr>
                                    <tr>
                                        <th class="bg-warning text-dark px-2"><i class="bi bi-file-text me-1"></i>
                                            Descripción:</th>
                                        <td class="text-capitalize">{{lab?.description}}</td>
                                    </tr>
                                    <tr>
                                        <th class="bg-warning text-dark px-2"><i class="bi bi-person me-1"></i>
                                            Capacidad:</th>
                                        <td class="text-capitalize">{{lab?.capacity}} personas</td>
                                    </tr>
                                    <tr>
                                        <th class="bg-warning text-dark px-2"><i class="bi bi-person-gear me-1"></i>
                                            Encargado:</th>
                                        <td class="text-capitalize">{{lab?.manager_id}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #loading>
    <div class="col text-center py-5">
        <div class="spinner-border text-dark" role="status">
            <span class="visually-hidden">Cargando...</span>
        </div>
        <p class="mt-3">Cargando...</p>
    </div>
</ng-template>

<div class="modal fade" id="reservationModal" tabindex="-1" aria-labelledby="reservationModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header bg-warning-subtle">
                <h1 class="modal-title">
                    Crear Reservacion <i class="bi bi-building-fill-add"></i>
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>

            <div class="modal-body">
                <form [formGroup]="reservationForm" (submit)="reservationLab()">
                    <div class="mb-3">
                        <label for="startTime" class="form-label">Hora de inicio: <i
                                class="bi bi-clock-fill"></i></label>
                        <input type="time" class="form-control" id="startTime" formControlName="start_time" />
                        <div class="form-text">
                            Ingresa la hora de inicio de la reservación.

                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="endTime" class="form-label">Hora de finalizacion <i
                                class="bi bi-clock-fill"></i></label>
                        <input type="time" class="form-control" id="endTime" formControlName="end_time" />
                        <div class="form-text">
                            Ingresa la hora de finalizacion de la reservación.

                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="resvDescription" class="form-label">Descripción <i
                                class="bi bi-info-circle-fill"></i></label>
                        <textarea class="form-control" id="resvDescription" rows="3"
                            formControlName="description"></textarea>
                        <div class="form-text">
                            Ingresa una breve descripción de la reservación.
                            Puedes incluir detalles como el propósito de la reservación.
                        </div>
                    </div>


                    @if (reservationMessage != '') {
                    <div class="alert alert-warning" role="alert">
                        {{ reservationMessage }}
                    </div>
                    }
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-warning w-100">
                            Generar solicitud de reservacion.<i class="bi bi-plus-circle mx-1"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="updateLabModal" tabindex="-1" aria-labelledby="updateLabModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header bg-warning-subtle">
                <h1 class="modal-title">
                    Editar información  <i class="bi bi-building-fill-add"></i>
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>

            <div class="modal-body">

                <div class="accordion" id="accountAccordion">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingInstitution">
                            <button class="accordion-button bg-warning text-white collapsed fw-bold" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapseInstitution" aria-expanded="false"
                                aria-controls="collapseInstitution">
                                Institucion  <i class="bi bi-bank me-1"></i>
                            </button>
                        </h2>
                        <div id="collapseInstitution" class="accordion-collapse collapse" aria-labelledby="headingInstitution"
                            data-bs-parent="#accountAccordion">
                            <div class="accordion-body">
                                <form [formGroup]="updateInstitutionForm" >
                                    <div class="mb-3">
                                        <label for="updateInstitution" class="form-label">Nueva Institucion</label>
                                        <select class="form-select" id="updateInstitution" formControlName="institution" required>
                                            <option value="" selected>Seleciona tu Institucion</option>
                                            <option value="Universidad De Guadalajara">Universidad De Guadalajara</option>
                                        </select>
                                        <div class="form-text">
                                            Selecciona la nueva institucion del laboratorio.
                                        </div>
                                    </div>
                                    @if (updateInstitutionMessage != '') {
                                    <div class="alert alert-warning" role="alert">
                                        {{ updateInstitutionMessage }}
                                    </div>
                                    }
                                    <button type="submit" class="btn btn-warning text-light w-100 fw-bold">
                                        Actualizar
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="accordion" id="accountAccordion">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingCAmpus">
                            <button class="accordion-button bg-warning text-white collapsed fw-bold" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapseCampus" aria-expanded="false"
                                aria-controls="collapseCampus">
                                Campus  <i class="bi bi-buildings me-1"></i>
                            </button>
                        </h2>
                        <div id="collapseCampus" class="accordion-collapse collapse" aria-labelledby="headingCampus"
                            data-bs-parent="#accountAccordion">
                            <div class="accordion-body">
                                <form [formGroup]="updateCampusForm" >
                                    <div class="mb-3">
                                        <label for="updateCampus" class="form-label">Nuevo Campus</label>
                                        <select class="form-select" id="updateCampus" formControlName="campus" required>
                                            <option value="" selected>Seleciona tu Campus</option>
                                            <option value="CUCEI">CUCEI</option>
                                            <option value="CUCS">CUCS</option>
                                            <option value="CUCSH">CUCSH</option>
                                            <option value="CUCEA">CUCEA</option>
                                            <option value="CUCBA">CUCBA</option>
                                            <option value="CUAAD">CUAAD</option>
                                            <option value="CUALTOS">CUALTOS</option>
                                            <option value="CUC">CUC</option>
                                            <option value="CUCIENEGA">CUCIENEGA</option>
                                            <option value="CULAGOS">CULAGOS</option>
                                            <option value="CUCSUR">CUCSUR</option>
                                            <option value="CUNORTE">CUNORTE</option>
                                            <option value="CUSUR">CUSUR</option>
                                            <option value="CUVALLES">CUVALLES</option>
                                        </select>
                                        <div class="form-text">
                                           Selecciona el campus del laboratorio.
                                        </div>
                                        
                                    </div>
                                    @if (updateCampusMessage != '') {
                                    <div class="alert alert-warning" role="alert">
                                        {{ updateCampusMessage }}
                                    </div>
                                    }
                                    <button type="submit" class="btn btn-warning text-light w-100 fw-bold">
                                        Actualizar
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="accordion" id="accountAccordion">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingSpecialty">
                            <button class="accordion-button bg-warning text-white collapsed fw-bold" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapseSpecialty" aria-expanded="false"
                                aria-controls="collapseSpecialty">
                                Especializacion <i class="bi bi-lightbulb me-1"></i>
                            </button>
                        </h2>
                        <div id="collapseSpecialty" class="accordion-collapse collapse" aria-labelledby="headingSpecialty"
                            data-bs-parent="#accountAccordion">
                            <div class="accordion-body">
                                <form [formGroup]="updateSpecialtyForm" >
                                    <div class="mb-3">
                                        <label for="updateSpecialty" class="form-label">Nueva Especialización</label>
                                        <input type="text" class="form-control" id="updateSpecialty" formControlName="specialty" required />
                                        <div class="form-text">
                                            Ingresa la nueva especialización del laboratorio.
                                        </div>
                                    </div>
                                    @if (updateSpecialtyMessage != '') {
                                    <div class="alert alert-warning" role="alert">
                                        {{ updateSpecialtyMessage }}
                                    </div>
                                    }
                                    <button type="submit" class="btn btn-warning text-light w-100 fw-bold">
                                        Actualizar
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="accordion" id="accountAccordion">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingLocation">
                            <button class="accordion-button bg-warning text-white collapsed fw-bold" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapseLocation" aria-expanded="false"
                                aria-controls="collapseLocation">
                                Ubicacion <i class="bi bi-geo-alt me-1"></i>
                            </button>
                        </h2>
                        <div id="collapseLocation" class="accordion-collapse collapse" aria-labelledby="headingLocation"
                            data-bs-parent="#accountAccordion">
                            <div class="accordion-body">
                                <form [formGroup]="updateLocationForm" >
                                    <div class="mb-3">
                                        <label for="updateLocation" class="form-label">Nueva Ubicacion</label>
                                        <input type="text" class="form-control" id="updateLocation" formControlName="Location" required />
                                        <div class="form-text">
                                            Ingresa la nueva ubicacion del laboratorio.
                                        </div>
                                    </div>
                                    @if (updateLocationMessage != '') {
                                    <div class="alert alert-warning" role="alert">
                                        {{ updateLocationMessage }}
                                    </div>
                                    }
                                    <button type="submit" class="btn btn-warning text-light w-100 fw-bold">
                                        Actualizar
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="accordion" id="accountAccordion">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingDescription">
                            <button class="accordion-button bg-warning text-white collapsed fw-bold" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapseDescription" aria-expanded="false"
                                aria-controls=" collapseDescription">
                                Descripcion <i class="bi bi-key-fill mx-2"></i>
                            </button>
                        </h2>
                        <div id="collapseDescription" class="accordion-collapse collapse" aria-labelledby="headingDescription"
                            data-bs-parent="#accountAccordion">
                            <div class="accordion-body">
                                <form [formGroup]="updateDescriptionForm" >
                                    <div class="mb-3">
                                        <label for="updateDescription" class="form-label">Nueva descripción</label>
                                        <textarea class="form-control" id="updateDescription" rows="3"
                                        formControlName="description"></textarea>
                                        <div class="form-text">
                                            Ingresa la nueva descripción del laboratorio.
                                        </div>
                                        
                                    </div>
                                    @if (updateDescriptionMessage != '') {
                                    <div class="alert alert-warning" role="alert">
                                        {{ updateDescriptionMessage }}
                                    </div>
                                    }
                                    <button type="submit" class="btn btn-warning text-light w-100 fw-bold">
                                        Actualizar
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="accordion" id="accountAccordion">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingAbility">
                            <button class="accordion-button bg-warning text-white collapsed fw-bold" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapseAbility" aria-expanded="false"
                                aria-controls="collapseAbility">
                                Capacidad <i class="bi bi-key-fill mx-2"></i>
                            </button>
                        </h2>
                        <div id="collapseAbility" class="accordion-collapse collapse" aria-labelledby="headingAbility"
                            data-bs-parent="#accountAccordion">
                            <div class="accordion-body">
                                <form [formGroup]="updateAbilityForm" >
                                    <div class="mb-3">
                                        <label for="updateAbility" class="form-label">Nueva Capacidad</label>
                                        <input type="number" class="form-control" id="updateAbility" formControlName="Ability" required />
                                        <div class="form-text">
                                            Ingresa la nueva capacidad del laboratorio.
                                        </div>
                                        
                                    </div>
                                    @if (updateAbilityMessage != '') {
                                    <div class="alert alert-warning" role="alert">
                                        {{ updateAbilityMessage }}
                                    </div>
                                    }
                                    <button type="submit" class="btn btn-warning text-light w-100 fw-bold">
                                        Actualizar
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
</div>
</div>
</div>