<main >
    <app-banner></app-banner>
    <section class="container-fluid mt-5">
        <div class="container">
        <div class="row d-flex flex-column flex-md-row align-items-center">
            <div class="col-12 col-sm-12 col-md-6">
                <img src="../../../assets/IL.png" class="img-fluid" style="max-width: 100%;" alt="">
            </div>
            <div class="col-12 col-sm-12 col-md-6">
                <h2>Iniciar sesion</h2>
                <form [formGroup]="loginForm" (submit)="login()">
                    <div class="mb-3">
                        <label for="email" class="form-label">Correo Electronico</label>
                        <input type="email" class="form-control" id="email"  style="background-color: orange;" formControlName="email" placeholder="example@alumnos.udg.mx">
                        <div id="email" class="form-text">Ingresa tu correo</div>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Contraseña</label>
                        <div class="input-group">
                            <input [type]="showPassword ? 'text' : 'password'" id="password" class="form-control" formControlName="password" style="background-color: orange;" placeholder="********">
                            <button type="button" class="btn btn-outline-secondary" (click)="togglePassword()">
                                <i class="bi" [ngClass]="showPassword ? 'bi-eye-slash' : 'bi-eye'"></i>
                            </button>
                        </div>
                        <div id="typePassword" class="form-text">Ingresa tu contraseña</div>
                    </div>
                    <p>¿Aún no tienes cuenta? <a routerLink="/register"style="color: orange;">Regístrate aquí</a></p>
                    <p>¿Olvidaste tu contraseña? <a routerLink="/recovery" style="color: orange;">Click aqui</a></p>

                    <button type="submit" class="btn btn-outline-warning w-100">Iniciar sesion</button>
                </form>
            </div>
        </div>
    </div>
</section>
    
</main>