<section class="container-fluid">
    <div class="container p-5">
        <div class="card ">
        <h1 class="card-header text-center" style="background-color: orange;">Política de Privacidad</h1>
        <div class="card-body">
            <h2 class="card-title ">Política de Privacidad de LabAdmin</h2>
          <h3 class="card-title ">Última actualización: 01/04/2025</h3>
          <h5 class="card-title ">Bienvenido a LabAdmin. Nos comprometemos a proteger su privacidad y garantizar la seguridad de sus datos personales. <br>Esta Política de Privacidad explica cómo recopilamos, utilizamos y protegemos su información.</h5>
    
          <p class="card-text">
    
            <p>1. Información que Recopilamos
    
                Podemos recopilar los siguientes tipos de información:
                
                Información personal: Nombre, correo electrónico, identificación de usuario.
                
                Datos de uso: Historial de acceso, actividades dentro de la plataforma.
                
                Datos técnicos: Dirección IP, tipo de dispositivo, navegador utilizado.</p>
                
                <p>2. Uso de la Información
                
                Utilizamos la información recopilada para:
                
                Brindar acceso y mejorar la funcionalidad de LabAdmin.
                
                Administrar y gestionar laboratorios de manera eficiente.
                
                Garantizar la seguridad de la plataforma y prevenir fraudes.
                
                Cumplir con requisitos legales y normativos.</p>
                
                <p>3. Compartición de Datos
                
                LabAdmin no vende, alquila ni comparte su información personal con terceros, salvo en los siguientes casos:
                
                Cumplimiento de obligaciones legales.
                
                Proveedores de servicios tecnológicos que ayudan en la operación de la plataforma.</p>
                
                <p>4. Seguridad de la Información
                
                Implementamos medidas de seguridad adecuadas para proteger su información contra accesos no autorizados, alteración o divulgación.</p>
                
                <p>5. Derechos del Usuario
                
                Usted tiene derecho a:
                
                Acceder, corregir o eliminar sus datos personales.
                
                Restringir el procesamiento de su información.
                
                Retirar su consentimiento en cualquier momento.
                
                </p>
                
                <p>6. Cambios en la Política de Privacidad
                
                Podemos actualizar esta política de privacidad periódicamente. Cualquier cambio será notificado a través de la plataforma o por correo electrónico.
                </p>
            
          
          
        </div>
      </div>
    </div>  
</section>

