<app-banner></app-banner>
<section class="container-fluid mt-5">
    <div class="container-lg">
        <form [formGroup]="registerForm" (submit)="register()">

            <a routerLink="/login" style="color: orange;">
                <i class="bi bi-arrow-left-circle-fill p-1"></i> Volver
            </a>
            <h2>Registro</h2> 
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" formControlName="username" style="background-color: orange;" placeholder="Introduce tu nombre de usuario" required>
            </div>
            <div class="mb-3">
                <label for="firstName" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="firstName" formControlName="first_name" style="background-color: orange;" placeholder="Introduce tu nombre"required>
            </div>
            <div class="mb-3">
                <label for="lastName" class="form-label">Apellido</label>
                <input type="text" class="form-control" id="lastName" formControlName="last_name" style="background-color: orange;" placeholder="Introduce tu apellido"required>
            </div>
            <div class="mb-3">
                <label for="birthDate" class="form-label">Fecha de nacimiento</label>
                <input type="date" class="form-control" id="birthDate" formControlName="birth_date" style="background-color: orange;">
            </div>
            <div class="mb-3">
                <label for="institution" class="form-label">Institución</label>
                <input type="text" class="form-control" id="institution" formControlName="institution" style="background-color: orange;" placeholder="Introduce tu institución"required>
            </div>
            <div class="mb-3">
                <label for="campus" class="form-label">Campus</label>
                <input type="text" class="form-control" id="campus" formControlName="campus" style="background-color: orange;" placeholder="Introduce tu campus"required>
            </div>
            <div class="mb-3">
                <label for="studentCode" class="form-label">Código de estudiante</label>
                <input type="number" class="form-control" id="studentCode" formControlName="student_code" style="background-color: orange;" placeholder="Introduce tu código de estudiante"required>
            </div>
            <div class="mb-3">
                <label for="studentCarreer" class="form-label">Carrera</label>
                <input type="text" class="form-control" id="studentCarreer" formControlName="student_carreer" style="background-color: orange;" placeholder="Introduce tu carrera"required>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Correo</label>
                <input type="email" class="form-control" id="email" formControlName="email" style="background-color: orange;" placeholder="example@alumnos.udg.mx"required>
            </div>
            <div class="mb-3">
                <label for="phone" class="form-label">Teléfono</label>
                <input type="number" class="form-control" id="phone" formControlName="phone" style="background-color: orange;" placeholder="Introduce tu teléfono"required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Contraseña</label>
                <input type="password" class="form-control" id="password" formControlName="password" style="background-color: orange;" placeholder="********"required>
            </div>
            <div class="mb-3">
                <label for="confirmPassword" class="form-label">Confirmar contraseña</label>
                <input type="password" class="form-control" id="confirmPassword" formControlName="confirm_password" style="background-color: orange;" placeholder="**********"required>
            </div>
            <div>
                <button type="submit" class="btn btn-outline-warning">Registrarse</button>
            </div>
        </form>
    </div>
</section>
