<section class="container-fluid py-3">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card shadow">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col p-2">
                            <h5 class="text-warning">LabAdmin</h5>
                            <h2>Registrarse</h2>
                        </div>
                        <div class="col d-flex justify-content-center">
                            <a routerLink="/login" class="text-dark d-flex align-items-center">
                                <i class="bi bi-arrow-left-circle-fill me-1"></i> Volver
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-body" style="max-height: 80vh; overflow-y: auto;">
                    @if (isLoading) {
                    <ng-container *ngTemplateOutlet="loading"></ng-container>
                    } @else if (requestSuccess) {
                    <ng-container *ngTemplateOutlet="success"></ng-container>
                    }
                    @else {
                    <ng-container *ngTemplateOutlet="form"></ng-container>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

<ng-template #form>
    <form [formGroup]="registerForm" (submit)="register()">
        <div class="mb-3">
            <label for="username" class="form-label">Usuario</label>
            <div class="input-group">
                <input type="text" [class]="getInputClass('username')" id="username" formControlName="username"
                    placeholder="Introduce tu nombre de usuario" required>
                @if (isCheckingUsername) {
                    <div class="input-group-text">
                        <div class="spinner-border spinner-border-sm text-warning" role="status">
                            <span class="visually-hidden">Verificando...</span>
                        </div>
                    </div>
                }
            </div>
            @if (hasError('username')) {
                <div class="invalid-feedback">{{ getErrorMessage('username') }}</div>
            }
            <div class="form-text">Elige un nombre de usuario único (3-20 caracteres, letras, números, guiones).</div>
        </div>

        <div class="mb-3">
            <label for="firstName" class="form-label">Nombre</label>
            <input type="text" [class]="getInputClass('first_name')" id="firstName" formControlName="first_name"
                placeholder="Introduce tu nombre" required>
            @if (hasError('first_name')) {
                <div class="invalid-feedback">{{ getErrorMessage('first_name') }}</div>
            }
            <div class="form-text">Escribe tu primer nombre tal como aparece en tu documento de identidad.</div>
        </div>

        <div class="mb-3">
            <label for="lastName" class="form-label">Apellido</label>
            <input type="text" [class]="getInputClass('last_name')" id="lastName" formControlName="last_name"
                placeholder="Introduce tu apellido" required>
            @if (hasError('last_name')) {
                <div class="invalid-feedback">{{ getErrorMessage('last_name') }}</div>
            }
            <div class="form-text">Ingresa tu(s) apellido(s) oficial(es).</div>
        </div>

        <div class="mb-3">
            <label for="birthDate" class="form-label">Fecha de nacimiento</label>
            <input type="date" [class]="getInputClass('birth_date')" id="birthDate" formControlName="birth_date" required>
            @if (hasError('birth_date')) {
                <div class="invalid-feedback">{{ getErrorMessage('birth_date') }}</div>
            }
            <div class="form-text">Selecciona tu fecha de nacimiento en formato día/mes/año.</div>
        </div>

        <div class="mb-3">
            <label for="institution" class="form-label">Institución</label>
                <select class="form-select" [class]="getInputClass('institution')" id="institution" formControlName="institution" required>
                    <option value="" selected>Seleciona tu Institución</option>
                    <option value="Universidad de Guadalajara">Universidad de Guadalajara</option>
                  </select>
            @if (hasError('institution')) {
                <div class="invalid-feedback">{{ getErrorMessage('institution') }}</div>
            }
            <div class="form-text">Selecciona la institución educativa a la que perteneces.</div>
        </div>


        <div class="mb-3">
            <label for="campus" class="form-label">Campus</label>
                <select class="form-select"  [class]="getInputClass('campus')" id="campus" formControlName="campus" required>
                    <option value="" selected >Seleciona tu Campus</option>
                    <option value="CUCEI">CUCEI</option>
                  </select>
            @if (hasError('campus')) {
                <div class="invalid-feedback">{{ getErrorMessage('campus') }}</div>
            }
            <div class="form-text">Selecciona el campus donde estudias.</div>
        </div>


        <div class="mb-3">
            <label for="studentCareer" class="form-label">Carrera</label>
            <select class="form-select" formControlName="student_carreer" [class]="getInputClass('student_carreer')" required>
              <option value="" selected>Selecciona una carrera</option>
              <option value="Licenciatura en Física">Licenciatura en Física</option>
              <option value="Licenciatura en Matemáticas">Licenciatura en Matemáticas</option>
              <option value="Licenciatura en Química">Licenciatura en Química</option>
              <option value="Químico Farmacéutico Biólogo">Químico Farmacéutico Biólogo</option>
              <option value="Ingeniería en Ciencia de Materiales">Ingeniería en Ciencia de Materiales</option>
              <option value="Ingeniería Civil">Ingeniería Civil</option>
              <option value="Ingeniería en Alimentos y Biotecnología">Ingeniería en Alimentos y Biotecnología</option>
              <option value="Ingeniería en Topografía Geomática">Ingeniería en Topografía Geomática</option>
              <option value="Ingeniería Industrial">Ingeniería Industrial</option>
              <option value="Ingeniería Mecánica Eléctrica">Ingeniería Mecánica Eléctrica</option>
              <option value="Ingeniería Química">Ingeniería Química</option>
              <option value="Ingeniería en Logística y Transporte">Ingeniería en Logística y Transporte</option>
              <option value="Ingeniería Informática">Ingeniería Informática</option>
              <option value="Ingeniería Biomédica">Ingeniería Biomédica</option>
              <option value="Ingeniería en Computación">Ingeniería en Computación</option>
              <option value="Ingeniería en Electromovilidad y Autotrónica">Ingeniería en Electromovilidad y Autotrónica</option>
              <option value="Ingeniería en Electrónica y Sistemas Inteligentes">Ingeniería en Electrónica y Sistemas Inteligentes</option>
              <option value="Ingeniería Fotónica">Ingeniería Fotónica</option>
              <option value="Ingeniería en Mecatrónica Inteligente">Ingeniería en Mecatrónica Inteligente</option>
              <option value="Ingeniería Robótica">Ingeniería Robótica</option>
            </select>
          
            <div *ngIf="hasError('student_carreer')">
              <div class="invalid-feedback">{{ getErrorMessage('student_carreer') }}</div>
            </div>
          
            <div class="form-text">Selecciona la carrera que estás cursando.</div>
          </div>
          
        <div class="mb-3">
            <label for="email" class="form-label">Correo</label>
            <div class="input-group">
                <input type="email" [class]="getInputClass('email')" id="email" formControlName="email"
                    placeholder="example@alumnos.udg.mx" required>
                @if (isCheckingEmail) {
                    <div class="input-group-text">
                        <div class="spinner-border spinner-border-sm text-warning" role="status">
                            <span class="visually-hidden">Verificando...</span>
                        </div>
                    </div>
                }
            </div>
            @if (hasError('email')) {
                <div class="invalid-feedback">{{ getErrorMessage('email') }}</div>
            }
            <div class="form-text">Introduce tu correo institucional o personal.</div>
        </div>

        <div class="mb-3">
            <label for="phone" class="form-label">Teléfono</label>
            <input type="text" [class]="getInputClass('phone')" id="phone" formControlName="phone"
                placeholder="Introduce tu teléfono" required>
            @if (hasError('phone')) {
                <div class="invalid-feedback">{{ getErrorMessage('phone') }}</div>
            }
            <div class="form-text">Proporciona un número de contacto válido (10 dígitos).</div>
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Contraseña</label>
            <div class="input-group">
                <input [type]="showPassword ? 'text' : 'password'" [class]="getInputClass('password')" 
                    id="password" formControlName="password" placeholder="********" required>
                <button class="btn btn-outline-secondary" type="button" (click)="togglePassword()">
                    <i class="bi" [ngClass]="showPassword ? 'bi-eye-slash' : 'bi-eye'"></i>
                </button>
            </div>
            @if (hasError('password')) {
                <div class="invalid-feedback d-block">{{ getErrorMessage('password') }}</div>
            }
            <div class="form-text">Debe contener al menos 8 caracteres, incluyendo mayúsculas, minúsculas, números y caracteres especiales.</div>
        </div>

        <div class="mb-3">
            <label for="confirmPassword" class="form-label">Confirmar Contraseña</label>
            <div class="input-group">
                <input [type]="showConfirmPassword ? 'text' : 'password'" [class]="getInputClass('confirm_password')" 
                    id="confirmPassword" formControlName="confirm_password" placeholder="********" required>
                <button class="btn btn-outline-secondary" type="button" (click)="toggleConfirmPassword()">
                    <i class="bi" [ngClass]="showConfirmPassword ? 'bi-eye-slash' : 'bi-eye'"></i>
                </button>
            </div>
            @if (hasError('confirm_password')) {
                <div class="invalid-feedback d-block">{{ getErrorMessage('confirm_password') }}</div>
            }
            <div class="form-text">Vuelve a introducir tu contraseña para confirmarla.</div>
        </div>

        @if (formError) {
        <ng-container *ngTemplateOutlet="error"></ng-container>
        }

        <hr>

        <div class="my-3 d-flex flex-column align-items-center">
            <button type="submit" class="btn btn-outline-warning w-100">Registrarse</button>
            <div class="form-text text-center mt-2">
                Al presionar "Registrarse", aceptas los términos y condiciones y el aviso de privacidad.
            </div>
        </div>
    </form>
</ng-template>

<ng-template #loading>
    <div class="d-flex justify-content-center align-items-center h-100">
        <div class="spinner-border text-warning" role="status">
            <span class="visually-hidden">Cargando...</span>
        </div>
    </div>
</ng-template>

<ng-template #error>
    <div class="alert alert-danger d-flex align-items-center" role="alert">
        <div class="spinner-grow text-danger me-2" role="status">
            <span class="visually-hidden">Cargando...</span>
        </div>
        <p class="mb-0">{{ formErrorText }}</p>
    </div>
</ng-template>

<ng-template #success>
    <div class="alert alert-success d-flex align-items-center" role="alert">
        <div class="spinner-grow text-success me-2" role="status">
            <span class="visually-hidden">Cargando...</span>
        </div>
        <p class="mb-0">Su cuenta ha sido creada exitosamente!</p>
    </div>
    <a routerLink="/login" class="text-success d-flex justify-content-center align-items-center mt-3">
        <i class="bi bi-arrow-left-circle-fill me-1"></i> Volver al inicio de sesión
    </a>
</ng-template>