<app-navbar></app-navbar>

<!-- Superhero Section -->
<section style="height: 50vh">
    <div class="container-fluid h-100 d-flex flex-column align-items-center justify-content-center">
        <img src="/assets/icon.png" alt="LabAdmin logo" class="mb-3" style="height: 60%;" />
        <h1 class="text-warning">LabAdmin</h1>
    </div>
</section>

<!-- Us Section -->
<section id="us-section" class="container-fluid py-5 bg-warning-subtle">
    <div class="container d-flex flex-column align-items-center justify-content-center" style="min-height: 400px">
        <div class="row justify-content-center align-items-start gy-3 py-4">
            <div class="col-md-4">
                <div class="card shadow">
                    <img src="/assets/icon.png" class="card-img-top img-fluid p-5" alt="Laboratorios" />
                    <div class="card-body text-center">
                        <h5 class="card-title">Laboratorios</h5>
                        <p class="card-text" style="min-height: 100px">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit reiciendis doloremque nulla blanditiis quidem voluptates, amet obcaecati quisquam tempora ullam!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card shadow">
                    <img src="/assets/icon.png" class="card-img-top img-fluid p-5" alt="Laboratorios" />
                    <div class="card-body text-center">
                        <h5 class="card-title">Laboratorios</h5>
                        <p class="card-text" style="min-height: 100px">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit reiciendis doloremque nulla blanditiis quidem voluptates, amet obcaecati quisquam tempora ullam!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card shadow">
                    <img src="/assets/icon.png" class="card-img-top img-fluid p-5" alt="Laboratorios" />
                    <div class="card-body text-center">
                        <h5 class="card-title">Laboratorios</h5>
                        <p class="card-text" style="min-height: 100px">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit reiciendis doloremque nulla blanditiis quidem voluptates, amet obcaecati quisquam tempora ullam!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>