/* You can add global styles to this file, and also import other style files */
.chatbot-btn {
    transition: all 0.3s;
    border: 2px solid #ffc107;
  }
  .chatbot-btn:hover {
    background-color: #ffc107 !important;
    color: #000 !important;
  }