<section class="container-fluid d-flex align-items-center bg-warning">
  <div class="container-lg py-3 text">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-8 col-10">
        <h2>
          ¿Tienes dudas o necesitas ayuda con el sistema de administración de
          laboratorios?
        </h2>
        <p>
          Consulta nuestras preguntas frecuentes para encontrar respuestas
          rápidas y guías útiles sobre el uso del sistema. Si no encuentras lo
          que buscas, no dudes en contactarnos y con gusto te ayudaremos.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="container-fluid pt-3 pb-5">
  <h1 class="text-center p-5"><strong>FAQ LabAdmin</strong></h1>
  <div
    class="accordion accordion-flush container rounded-3"
    id="accordionLabAdmin"
  >
    <div class="accordion-item border border-1 rounded-3">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed border border-black rounded-3 bg-warning-subtle"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseOne"
          aria-expanded="false"
          aria-controls="flush-collapseOne"
        >
          <strong>1. ¿Quienes somos?</strong>
        </button>
      </h2>
      <div
        id="flush-collapseOne"
        class="accordion-collapse collapse rounded-3"
        data-bs-parent="#accordionLabAdmin"
      >
        <div class="accordion-body">
          Somos un equipo de tres estudiantes comprometidos con el desarrollo de
          soluciones tecnológicas que permitan a la universidad mejorar el
          manejo, control y gestión de los laboratorios. Nuestro objetivo es
          facilitar el acceso, organización y administración de estos espacios,
          optimizando los recursos disponibles para toda la comunidad
          universitaria.
        </div>
      </div>
    </div>
    <div class="accordion-item border border-1 rounded-3">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed border border-black rounded-3 border-top-0 bg-warning-subtle"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseTwo"
          aria-expanded="false"
          aria-controls="flush-collapseTwo"
        >
          <strong>2. ¿Que hacemos?</strong>
        </button>
      </h2>
      <div
        id="flush-collapseTwo"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionLabAdmin"
      >
        <div class="accordion-body">
          Desarrollamos un sistema de administración de laboratorios pensado
          para la comunidad universitaria. Nuestro sistema permite gestionar de
          manera eficiente los laboratorios, facilitando el control de reservas,
          uso de equipos, disponibilidad de espacios y el registro de usuarios.
          Buscamos brindar una herramienta accesible y moderna que ayude a
          optimizar los procesos dentro de la universidad.
        </div>
      </div>
    </div>
    <div class="accordion-item border border-1 rounded-3">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed border border-black rounded-3 border-top-0 bg-warning-subtle"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseThree"
          aria-expanded="false"
          aria-controls="flush-collapseThree"
        >
          <strong
            >3. ¿Cómo reservo un laboratorio para una práctica o clase?</strong
          >
        </button>
      </h2>
      <div
        id="flush-collapseThree"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionLabAdmin"
      >
        <div class="accordion-body">
          Debes ingresar al apartado de laboratorios, seleccionar el laboratorio
          disponible, la fecha y hora deseada, y confirmar tu reserva.
        </div>
      </div>
    </div>
    <div class="accordion-item border border-1 rounded-3">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed border border-black rounded-3 border-top-0 bg-warning-subtle"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseFour"
          aria-expanded="false"
          aria-controls="flush-collapseFour"
        >
          <strong
            >4. ¿Cuánto tiempo de anticipación debo solicitar un
            laboratorio?</strong
          >
        </button>
      </h2>
      <div
        id="flush-collapseFour"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionLabAdmin"
      >
        <div class="accordion-body">
          Las reservaciones las puedes hacer en tiempo real mientras este libre
          el espacio desado.
        </div>
      </div>
    </div>

    <div class="accordion-item border border-1 rounded-3">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed border border-black rounded-3 border-top-0 bg-warning-subtle"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseFive"
          aria-expanded="false"
          aria-controls="flush-collapseFive"
        >
          <strong>5. ¿Puedo cancelar o modificar una reserva ya creada?</strong>
        </button>
      </h2>
      <div
        id="flush-collapseFive"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionLabAdmin"
      >
        <div class="accordion-body">
          Sí, desde tu perfil puedes cancelar o modificar una reserva siempre y
          cuando lo realices antes de la fecha programada.
        </div>
      </div>
    </div>
    <div class="accordion-item border border-1 rounded-3">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed border border-black rounded-3 border-top-0 bg-warning-subtle"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseSix"
          aria-expanded="false"
          aria-controls="flush-collapseSix"
        >
          <strong
            >6. ¿Cómo reporto un problema con el equipo del laboratorio?</strong
          >
        </button>
      </h2>
      <div
        id="flush-collapseSix"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionLabAdmin"
      >
        <div class="accordion-body">
          Mientras te encuentres dentro de los laboratorios los reportes se
          hacen con los supervisores o prestadores de servicios.
        </div>
      </div>
    </div>
    <div class="accordion-item border border-1 rounded-3">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed border border-black rounded-3 border-top-0 bg-warning-subtle"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseSeven"
          aria-expanded="false"
          aria-controls="flush-collapseSeven"
        >
          <strong>
            7. ¿Qué tipo de laboratorios están disponibles en el
            sistema?</strong
          >
        </button>
      </h2>
      <div
        id="flush-collapseSeven"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionLabAdmin"
      >
        <div class="accordion-body">
          Puedes consultar la lista de laboratorios disponibles dentro de la
          plataforma, organizados por centros universitarios.
        </div>
      </div>
    </div>
    <div class="accordion-item border border-1 rounded-3">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed border border-black rounded-3 border-top-0 bg-warning-subtle"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseEight"
          aria-expanded="false"
          aria-controls="flush-collapseEight"
        >
          <strong
            >8. ¿A quién contacto en caso de dudas o problemas técnicos?</strong
          >
        </button>
      </h2>
      <div
        id="flush-collapseEight"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionLabAdmin"
      >
        <div class="accordion-body">
          Puedes escribirnos desde el formulario de contacto o comunicarte con
          el supervisor de tu laboratorio.
        </div>
      </div>
    </div>
    <div class="accordion-item border border-1 rounded-3">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed border border-black rounded-3 border-top-0 bg-warning-subtle"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseNine"
          aria-expanded="false"
          aria-controls="flush-collapseNine"
        >
          <strong
            >9. ¿Qué medidas de seguridad debo seguir dentro del
            laboratorio?</strong
          >
        </button>
      </h2>
      <div
        id="flush-collapseNine"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionLabAdmin"
      >
        <div class="accordion-body">
          Las normas del laboratorio son especificas de cada uno y te seran
          mencionadas por el supervisor.
        </div>
      </div>
    </div>
    <div class="accordion-item border border-1 rounded-3">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed border border-black rounded-3 border-top-0 bg-warning-subtle"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseTen"
          aria-expanded="false"
          aria-controls="flush-collapseTen"
        >
          <strong
            >10. ¿Qué pasa si hay un daño en el laboratorio durante mi
            uso?</strong
          >
        </button>
      </h2>
      <div
        id="flush-collapseTen"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionLabAdmin"
      >
        <div class="accordion-body">
          Debes reportar inmediatamente cualquier daño o incidente al supervisor
          encargado.
        </div>
      </div>
    </div>
  </div>
</section>
